<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" id="appName">Protractor Demo App</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#">Recent Posts</a></li>
				<li><a href="#about">Add New Post</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" ng-repeat = "post in posts" style = "padding: 20px;">
		<h3>{{post.title}}</h3>

		<p>{{post.message}}</p>
		<p class=".pull-right">Source: <span class="label label-primary">{{post.author}}</span> </p>
	</div>

</div> <!-- /container -->
