<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" id="appName">Protractor Demo App</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li> <a href ng-href="/#/home">Recent Posts</a></li>
				<li> <a href ng-href="/#/add">Add New Post</a></li>
				<li class="active"> <a href ng-href="/#/locators">Locators Examples</a></li>
				<li> <a href ng-href="/#/timeout">Timeout</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href ng-click = "logout()">Logout<span class="sr-only">(current)</span></a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="container">
	<div class="row col-md-12">
		<h2> Examples with locators </h2>

		<div class="row col-md-12">
			<h3> Example 1 : ng-bind and ng-model</h3>
			<br/>
			<span>{{val}}</span>
			<br/>
			<span ng-bind="val"></span>
			<br/>
			<input ng-model="val" type = 'text'/>
		</div>

		<div class="row col-md-12">
			<h3> Example 2 : ng-repeat</h3>
			<br/>
			<div ng-repeat="pet in pets">
				<span class="petName">{{pet.name}}</span> <span>{{pet.age}}</span>
			</div>
		</div>

		<div class="row col-md-12">
			<h3> Example 3 : filter() and each()</h3>
			<br/>
			<ul class="items">
				<li>First</li>
				<li>Second</li>
				<li>Third</li>
			</ul>

		</div>


		<div class="row col-md-12">
			<h3> Example 4 : Using nested locators</h3>
			<br/>
			<div id="divId">
				<div> Div 1</div>
				<div> Div 2</div>
				<div> Div 3</div>
			</div>
		</div>




	</div>
</div>
